ansi2html
blinker
certifi
charset-normalizer
click
colorama
dash
dash-core-components
dash-html-components
dash-table
Flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
packaging
plotly
requests
retrying
six
tenacity
typing-extensions
urllib3
Werkzeug
zipp
